/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: 'Formula1';
  src: url('assets/fonts/Formula1-Regular_web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1';
  src: url('assets/fonts/Formula1-Bold_web.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1';
  src: url('assets/fonts/Formula1-Wide_web.ttf') format('truetype');
  font-weight: normal;
  font-stretch: expanded; /* Puedes ajustar esto si el navegador soporta */
  font-style: normal;
}

:root {
  --primary-color: #15151e;
  --color-claro: #fbf8f0;
  --header-height: 80px;

  --font-size-small: .9rem;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Formula1', sans-serif;
}
*{
  background-color: var(--primary-color);
  color: var(--color-claro);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.align-justify{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-justify-center{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
